name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<sh:schema xmlns:sh="http://www.org/2001/XMLSchema"
targetNamespace="http://www.showroom.com"
elementFromDefault="quaified">
<element name="showroom">
<compextype>
<sequence>
<element name="cars" minOccurs="0" maxOccurs="3">
<complexType>
<sequence>
<element name="model" type="string"/>
<element name="make" type="string"/>
<element name="year" type="int"/>
<element name="price" type="int"/>
</sequence>
</complexType> 

</element>
</sequence>

</compextype>



</element>
</sh:schema>