name.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.org/2001/XMLSchema"
targetNamespace="http://www.showroom.com"
elementFormDefault="qualified">
<xsd:element name="showroom">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="cars" minOccurs="0" maxOccurs="3">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="model" type="xsd:string"/>
<xsd:element name="make" type="xsd:string"/>
<xsd:element name="year" type="xsd:int"/>
<xsd:element name="price" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType> 

</xsd:element>
</xsd:sequence>

</xsd:complexType>



</xsd:element>
</xsd:schema>